#root {
  .container {
    min-height: calc(100dvh - 4rem);
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .nav-container {
    display: flex;
    .nav-wrapper {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .lang-select-wrapper {
        width: 8rem;
      }
    }
  }

  .btn-container {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
    .btn-row {
      flex-grow: 1;
      align-content: center;

      .ant-btn {
        text-align: left;
        height: auto;
        padding: 2rem;
        border-radius: 0.275rem;
        width: 100%;
        height: 100%;
      }
    }
  }
}
